
.header {
    background-color: rgb(240, 240, 240);
}

.thirdsec{
    background-color: rgb(240, 240, 240);
}

.secondSec, .lastSec {
    background-color: rgb(250, 250, 250);
}

.lead {
    font-weight: 400;
}

.interrupt {
    list-style-type: square;
}


.secbreak {
    width: 75%;
    background-color: gainsboro;
}

.list-group-item{
    background-color: #F0F0F0;
}

h6{
    font-weight: lighter;
}

.cycle {
    font-weight: 500;
}

.cycle-summary{
    text-align: center;
}
